# Build output
dist/

# Astro generated types
.astro/

# Dependencies
node_modules/

# Logs
*.log

# Environment variables
.env
.env.production

# OS files
.DS_Store

# Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug
dev-debug.log

# Local files
.local/*
