*
  margin: 0
  padding: 0

html
  height: 100%
  font-family: "PT Serif", Georgia, "Times New Roman", serif

body
  height: 100%
  font-size: 21px
  line-height: 1.5
  font-weight: 400
  background-color: #fdfdfd
  color: #555555

h1, h2, h3, h4, h5, h6
  color: $heading-color
  font-weight: 700
  margin: 0 auto

img
  max-width: 100%
  +border-radius

a
  color: #000000
  text-decoration: none
  &:hover
    color: #000000
