.site-footer
  border-top: 1px solid #e8e8e8
  background-color: #fdfdfd
  padding: 30px 0
  text-align: center

.social-icons li
  height: 72px
  display: inline
  list-style-type: none
  .github
    padding-left: 15px
    padding-right: 15px

.github-icon-svg, .twitter-icon-svg, .email-icon-svg
  width: 48px
  height: 48px
  position: relative
  path
    fill: #C2C2C2

.github-icon-svg
  &:hover
    path
      fill: #000

.twitter-icon-svg
  &:hover
    path
      fill: #9AE4E8

.email-icon-svg
  &:hover
    path
      fill: #e24f43
