.wrap
  max-width: 700px
  padding: 0 30px
  margin: 0 auto
  zoom: 1

.page-content
  padding: 40px 0
  background-color: #fff
  a
    border-bottom: 1px solid #ddd
    &:hover
      border-bottom-color: #000
