.site-header
  border-top: 5px solid $heading-color
  padding-top: 10px
  min-height: 56px

.site-title
  display: block
  color: #000
  font-size: 32px
  letter-spacing: -1px
  float: left
  line-height: 56px
  position: relative
  border-bottom: 1px solid #000
  z-index: 1

.site-nav
  float: right
  line-height: 56px
  .menu-icon
    display: none
  .page-link
    margin-left: 20px
    color: #727272
    letter-spacing: -0.5px
