.posts
  list-style-type: none
  li
    margin-bottom: 30px
  .post-link
    font-size: 24px
    letter-spacing: -1px
    line-height: 1
  .post-date
    display: block
    font-size: 15px
    color: $date-color
