$heading-color: #333333
$code-background: #f8f8f8
$code-border: #d5d5e9
$code-color: #bf616a
$date-color: #818181

=border-radius($radius: 5px)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius
